# Зависимости
node_modules/

# Сборки
dist
dist-ssr

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Секреты - ОЧЕНЬ ВАЖНО
.env
*.local

# Системный мусор и файлы редакторов
.DS_Store
.vscode/
.idea/